<p id="notice"><%= notice %></p>
<nav class="navbar navbar-dark bg-dark">
<h1><%= @bands.first.name %></h1>
<h3><%= @bands.first.description  + ' ' + @bands.first.city %></h3>
</nav>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>

