/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@font-face {
  font-family: 'RioGrande';
  src: font-url('RioGrande.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Durango_Western';
  src: font-url('Durango_Western_Eroded_Demo.otf');
  font-weight: normal;
  font-style: normal;
}

h1, h2 {
 font-family: "Durango_Western";
 text-align: center;
 color: orange;
 padding: 0;
 margin: 0;
 border: 0;
 margin-bottom: 0;
 line-height: 40px;
}

h3 {
  font-family: 'Durango_Western';
  color: orange;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.navtext {
  display: inline;
  text-align: center;
  margin-top: 0;
}

a {
  padding: 0;
  margin: 0;
}